# series is one dimensional array ie. one column of information

In [1]:
import pandas as pd

## create a series object from a python list and dictionary

In [7]:
#from list
ice_cream = ['vanila','strawberry','chocolate','rum raisin']
ice=pd.Series(ice_cream)

In [8]:
#from dictionary
animal = {
    'dog':'humble to people',
    'cat':'cute',
    'donkey':'laborious',
    'goat':'domestic'
}
a=pd.Series(animal)

# Atributes of series

In [10]:
a.values

array(['humble to people', 'cute', 'laborious', 'domestic'], dtype=object)

In [17]:
a.index

Index(['dog', 'cat', 'donkey', 'goat'], dtype='object')

In [12]:
a.dtype

dtype('O')

In [19]:
a.size

4

# methods of series

In [20]:
prices = [100.5,25.2,652.26,100.56]
p=pd.Series(prices)
p

0    100.50
1     25.20
2    652.26
3    100.56
dtype: float64

In [22]:
s= p.sum()#add all the values in the series
s

878.52

In [23]:
p.prod()

166116439.25856

In [24]:
m=p.product()

166116439.25856

In [27]:
mean = p.mean()
print(mean)

219.63

# parameters and arguments

In [6]:
fruits = ['apple','mango','orange','pineapple','lichi','banana','watermelon']
days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
pd.Series(fruits,days)
pd.read_csv()

sunday            apple
monday            mango
tuesday          orange
wednesday     pineapple
thursday          lichi
friday           banana
saturday     watermelon
dtype: object

# read csv_method

In [14]:
upper = pd.read_csv('data/Upper.csv','usecols=Low')
# pd.read_csv()
# low_price= upper['Low']
low_price

/home/poudell/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

0     237.0
1     234.0
2     228.0
3     226.0
4     225.0
5     222.0
6     221.0
7     222.0
8     223.0
9     221.0
10    220.0
11    220.0
12    222.0
13    223.0
14    219.0
15    220.0
16    225.0
17    224.0
18    229.0
19    230.0
20    227.0
21    229.0
22    233.0
23    237.0
24    240.0
25    245.0
26    251.0
27    253.0
28    256.0
29    258.0
30    266.0
31    261.0
32    270.0
33    255.0
34    237.0
35    263.0
36    280.0
37    283.0
38    258.0
39    235.0
40    235.0
41    224.0
Name: Low, dtype: float64