# series is one dimensional array ie. one column of information

In [1]:
import pandas as pd

## create a series object from a python list and dictionary

In [7]:
#from list
ice_cream = ['vanila','strawberry','chocolate','rum raisin']
ice=pd.Series(ice_cream)

In [8]:
#from dictionary
animal = {
    'dog':'humble to people',
    'cat':'cute',
    'donkey':'laborious',
    'goat':'domestic'
}
a=pd.Series(animal)

# Atributes of series

In [10]:
a.values

array(['humble to people', 'cute', 'laborious', 'domestic'], dtype=object)

In [17]:
a.index

Index(['dog', 'cat', 'donkey', 'goat'], dtype='object')

In [12]:
a.dtype

dtype('O')

In [19]:
a.size

4

# methods of series

In [20]:
prices = [100.5,25.2,652.26,100.56]
p=pd.Series(prices)
p

0    100.50
1     25.20
2    652.26
3    100.56
dtype: float64

In [22]:
s= p.sum()#add all the values in the series
s

878.52

In [23]:
p.prod()

166116439.25856

In [24]:
m=p.product()

166116439.25856

In [27]:
mean = p.mean()
print(mean)

219.63

# parameters and arguments

In [6]:
fruits = ['apple','mango','orange','pineapple','lichi','banana','watermelon']
days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
pd.Series(fruits,days)
pd.read_csv()

sunday            apple
monday            mango
tuesday          orange
wednesday     pineapple
thursday          lichi
friday           banana
saturday     watermelon
dtype: object

# read csv_method

In [30]:
upper = pd.read_csv('data/Upper.csv',usecols=["Low"],squeeze=True)
# print(upper)
upper.head(10)
upper.tail()
dir(upper)
sorted(upper)

[219.0,
 220.0,
 220.0,
 220.0,
 221.0,
 221.0,
 222.0,
 222.0,
 222.0,
 223.0,
 223.0,
 224.0,
 224.0,
 225.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 229.0,
 230.0,
 233.0,
 234.0,
 235.0,
 235.0,
 237.0,
 237.0,
 237.0,
 240.0,
 245.0,
 251.0,
 253.0,
 255.0,
 256.0,
 258.0,
 258.0,
 261.0,
 263.0,
 266.0,
 270.0,
 280.0,
 283.0]